
.navbar {
    list-style-type: none;
    padding-left: 200px;
    padding-right: 200px;
    background: rgb(57, 199, 116);
    box-shadow: 0 2px 5px grey;
}

.navbar a{
    color: white;
    font-family: 'italian-plate', sans-serif;
}

.navbar a:hover {
    color: lightsteelblue;
}

a.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 1.6em;
}

.nav-icon {
    height: 30px;
    width:40px;
    margin-bottom: 8px;
}

a#dropdown-link{
    color: black;
    font-size: 1.1em;
}

a#dropdown-link:hover {
    font-size: 1.3em;
}